.navbar{
  background: #000000c4;
}
.navbar-nav li
{
padding: 0 10px;
}
.navbar-nav li a
{
color: #fff!important;
font-weight: 600;
font-size: 20px;
}
.moblogo{
display: none;
}
@media(max-width: 750px)
{
 .moblogo{
  display: block;
 }
 .weblogo{
  display: none;
 }
 .navbar{
  background: #fbab1a;
}
}
.back{
  background: #111215;
  color: white;
  width: 100%;
  height: 490px;
}
.image{
  margin-top: 30px;
  width: 50%;
}
.topic1{
padding-top: 20px;
text-transform: uppercase;
font-family: prague;
letter-spacing: 3px;
}
.topic2{
color: #fbaa1a;
}
.para{
line-height: 35px;
word-spacing: 1px;
text-align: justify;
font-size: 16px;
font-family: Montserrat,sans-serif;
}
.h6{
  color: #fab01b;
}
.h6 h1{
  float: left;
  padding-left: 5px;
}
.footer1{
  height: 100px;
    	background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.c{
  padding-top: 20px;
    text-transform: uppercase;
    font-family: prague;
    letter-spacing: 3px;
}
.a{    
  text-align: justify;
  line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.img{
  width: 75%;
}
.mtop{
  margin-top: 30px;
  margin-bottom: 100px;
}
.why{
background-image: url(https://www.firstfiddle.in/assets/images/bannerabout.jpg);
width: 100%;
padding-right: 0!important;
padding-left: 0!important;
margin-right: auto;
margin-left: auto;
background-size: cover;
height: 500px;
margin-top: 50px;
}
 .p{
  display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        line-height: 40px;
        letter-spacing: 1px;
        color: white;
        text-align: center;
}
.media{
  text-align:center;
  padding-top: 110px;
  font-family: prague;
  color: #fff;
  font-size: 60px;
}
.why1{
  background-image: url(https://www.firstfiddle.in/assets/images/outletbanner.png);
width: 100%;
padding-right: 0!important;
padding-left: 0!important;
margin-right: auto;
margin-left: auto;
background-size: cover;
height: 500px;
margin-top: 50px;
}
.p1{
  display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        line-height: 40px;
        letter-spacing: 1px;
        color: white;
        text-align: center;
}
.visit{
  text-align:center;
  padding-top: 110px;
  font-family: prague;
  color: #fff;
  font-size: 60px;
}
.mtop2{
  margin-left: 300px;
}
.banner{
  background-image: url(https://app.firstfiddle.in/images/brand-banner/dragonflybanner.jpeg);
  height: 650px;
  width: 100%;
  background-position:center ;
  background-size: cover;
}
.banner1{
  background-image: url(https://www.firstfiddle.in/assets/images/brands.jpg);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}
.banner1 h1{
  padding-top: 200px;
  font-size: 70px;
}
.brand img{
  margin-top: 40px;
}
.banner2{
  background-image: url(https://www.firstfiddle.in/assets/images/CONTACT-US.jpg);
  height: 650px;
  width: 100%;
  background-position:center ;
  background-size: cover;
}
.banner2 h1{
  color:white;
  text-align: center;
  font-size: 80px;
  font-family: prague;
  padding-top: 300px;
}
.form-control{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .banner3{
    background-image: url(https://www.firstfiddle.in/assets/images/new-our-team.jpg);
    height: 650px;
    width: 100%;
    background-position:center ;
    background-size: cover;
  }
  .banner3 h1{
    color:white;
    text-align: center;
    font-size: 80px;
    font-family: prague;
    padding-top: 300px;
  }
  .our1{
    margin-top: 20px;
  }
  .our1 h1{
    color:#fab01b;
    float: left;
    padding-left: 5px;
  }
  
  